* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    height: 100vh;
    background-image: url(https://t7.baidu.com/it/u=1595072465,3644073269&fm=193&f=GIF);
    background-size: cover;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
    height: 80px;
    background-color: rgba(65, 81, 101, 0.9);
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #dadbdd;
    flex: 1;
}

.nav-menu {
    flex: 1;
    display: flex;
    justify-content: space-between;
    max-width: 550px;
}

.nav-menu li {
    list-style: none;
    color: #dadbdd;
    font-weight: 600;
}

.burger div {
    width: 17px;
    height: 3px;
    background-color: #dadbdd;
    margin: 4px;
}

.burger {
    display: none;
}

@media screen and (max-width:768px) {
    .nav-menu {
        position: absolute;
        top: 80px;
        right: 0;
        bottom: 0;
        width: 50vw;
        height: calc(100vh - 80px);
        background-color: rgba(65, 81, 101, 0.9);
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        transform: translateX(100%);
    }
    .nav-menu.open {
        transform: translateX(0);
        transition: 0.4s ease-in-out;
    }
    .nav-menu li {
        margin: 3vh;
        transform: translateX(20px);
        opacity: 0;
    }
    .burger {
        display: block;
    }
    .burger.active div {
        transition: 0.3s ease-in-out 0.3s;
    }
    .burger.active .top-line {
        transform: rotate(90deg) translate(7px, 6px);
    }
    .burger.active .bottom-line {
        transform: rotate(90deg) translate(-7px, -6px);
    }
    .burger.active .middle-line {
        transform: rotate(90deg);
    }
    @keyframes slideIn {
        from {
            transform: translateX(20px);
            opacity: 0;
        }
        to {
            transform: translateX(0);
            opacity: 1;
        }
    }
}