* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#box {
    width: 600px;
    height: 500px;
    margin: 50px auto;
    border: 1px solid red;
}

table {
    border-collapse: collapse;
}

table thead {
    background-color: bisque;
}

table tr {
    padding: 1px;
    text-align: center;
}